 h1{
  text-shadow: 2px 2px 2px #02010a;
  color: white;
  float: left;

}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  height: 100px;
  width: 100%;
}
  #links{
  padding: 10px 0px;
  float: right;
  text-decoration: none;

}
@media (max-width: 1024px) {
  a{
    display: none;
  }
}
body{
  text-align: center;
}
#imagen_principal{
  background-color: #82c3a6;
}
#imagen_principal .imagen1{
  width: 80%;
}
